@font-face {
  font-family: 'qanelas-black';
  src: url('../fonts/qanelas-black-webfont.woff2') format('woff2'),
       url('../fonts/qanelas-black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'qanelas-medium';
  src: url('../fonts/qanelas-medium-webfont.woff2') format('woff2'),
       url('../fonts/qanelas-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'qanelas-regular';
  src: url('../fonts/qanelas-regular-webfont.woff2') format('woff2'),
       url('../fonts/qanelas-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


